QUSTION_AMOUNT=THE NUMBER OF QUESTIONS
DATABASE_URL=YOUR DATABASE URL
GEMINI_API_KEY=YOUR GEMINI API KEY

# kinde auth
KINDE_CLIENT_ID=YOUR KINDE CLIENT ID
KINDE_CLIENT_SECRET=YOUR KINDE CLIENT SECRET
KINDE_ISSUER_URL=YOUR KINDE ISSUER URL
NEXT_PUBLIC_KINDE_PASSWORD_LESS_CONNECTION_ID=YOUR KINDE PASSWORD LESS CONNECTION ID
NEXT_PUBLIC_KINDE_GITHUB_CONNECTION_ID=YOUR KINDE GITHUB CONNECTION ID
NEXT_PUBLIC_KINDE_GOOGLE_CONNECTION_ID=YOUR KINDE GOOGLE CONNECTION ID
KINDE_POST_LOGOUT_REDIRECT_URL=http://localhost:3000
KINDE_POST_LOGIN_REDIRECT_URL=http://localhost:3000/dashboard
KINDE_SITE_URL=http://localhost:3000